body{
    background-image: linear-gradient(to right, rgb(82, 6, 82) ,rgb(128, 128, 13));
}
#main{
    width:400px;
    height: 200px;
    background-image: linear-gradient(to left, black , aquamarine);
    margin-left: 35%;
    font-size: 50px;
    text-align: center;
    padding-top: 100px;
    border-radius: 400px;
}
#ligar{
    width:100px;
    height: 70px;
    background-image: linear-gradient(to left, black, aquamarine);
    color: yellow;
    font-weight: bold;
    margin-left: 39%;
    border-radius: 80px;
}
#desligar{
    width:100px;
    height: 70px;
    background-image: linear-gradient(to left, black, aquamarine);
    color: yellow;
    font-weight: bold;
    margin-left: 5%;
    border-radius: 80px;
}